<template>
  <div>
    <div class="row">
      <div class="col-6 ">
        <v-menu
          v-model="picked"
          :close-on-content-click="true"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="pickedDate"
              label="Datum kurzu"
              prepend-icon="mdi-calendar"
              readonly
              v-on="on"
              class="date--input"
            ></v-text-field>
          </template>
          <v-date-picker v-model="pickedDate"></v-date-picker>
        </v-menu>
      </div>
      <div class="col-6">
        <p>{{ currenciesDate }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <v-data-table
          :headers="headers"
          :items="currencies"
          sort-by="name"
          class="elevation-1"
          disable-sort
          hide-default-footer
        >
        </v-data-table>
      </div>
    </div>
  </div>
</template>

<script>
//import axios from 'axios';

export default {
  name: 'DashBoard',

  data() {
    return { picked: false, pickedDate: null, previousPickedDate: null };
  },
  created() {
    this.fetchCurrencies(new Date().toISOString().split('T')[0]);
  },
  computed: {
    headers() {
      let headers = this.$store.state.currencies.map((name) => ({ text: name, value: name }));
      headers = [{ text: '', value: 'base' }, ...headers];
      return headers;
    },
    currencies() {
      return this.$store.state.currenciesRates ? this.$store.state.currenciesRates.rates : [];
    },
    currenciesDate() {
      let date = this.$store.state.currenciesRates ? this.$store.state.currenciesRates.date : '';
      console.log(this.pickedDate, date);
      if (this.pickedDate && this.pickedDate != date) {
        return 'Pro vybrane datum nejsou kurzy k dispozici. Kurzy pro datum: ' + new Date(date).toLocaleDateString();
      } else {
        return 'Kurzy pro datum: ' + new Date(date).toLocaleDateString();
      }
    },
  },

  watch: {
    pickedDate: function(value) {
      this.fetchCurrencies(value);
    },
  },

  methods: {
    fetchCurrencies(date) {
      this.$store.dispatch('clearCurrRates');
      this.$store.state.currencies.map((cur) =>
        this.$store.dispatch('fetchCurrRates', { currencies: cur, date: date }),
      );
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.date--input {
    max-width: 300px;
}
</style>
