<template>
  <v-app>
    <v-app-bar app color="primary" dark> </v-app-bar>
    <v-content>
      <DashBoard />
    </v-content>
  </v-app>
</template>

<script>
import DashBoard from './components/DashBoard';

export default {
  name: 'App',
  components: {
    DashBoard,
  },

  data: () => ({
    //
  }),
};
</script>
